{{define "base"}}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{template "title" .}}- Snippetbox</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut-icon" type="image" href="/static/img/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans&display=swap"
    rel="stylesheet">
</head>


<body>
  <header>
    <h1><a href="/">Snippetbox</a></h1>
  </header>
  {{template "nav" .}}

  <main>
    {{template "main" .}}
  </main>
  <script src="/static/js/main.js" type="text/javascript">
  </script>
  <footer>
    {{.CurrentYear}}
  </footer>
</body>

</html>

{{end }}
